html {
  background: url(https://wallpapercave.com/wp/ijZaCCZ.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
	/*http://shabier.com/images/weather-wallpaper/weather-wallpaper-5.jpg*/


.box{
	align-items: center;
    display: flex;
  	justify-content: center;
	margin: 20px;
	font-size: 2rem;
	flex-direction: column;
	padding: 10px;
}

#convert{
	padding: 5px;
	border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    box-shadow:10px 10px 8px #888888; 
    text-align: center;
    width: 20%;
    background-color: #1e90ff;
    color: white;
}

#convert:hover{
	background-color: #1b81e5;
}

